$color_primario: black;
$color_secundario: gray;
$color_terciario: gainsboro;
$color_fuenteNav: darkslategray;
$color_fuenteFoot: darkgray;

$fuente_primaria: "Roboto Serif";
$fuente_secundaria: "Times New Roman", Times, serif;